*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.main
{
    flex: 1;
}
.header
{
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 20px 40px 30px;
    background-color: #173F6B;
    position: relative;
}

.title a
{
    color: #F2B134;
    text-decoration: none;
    font-size: 28px;
}

.info
{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
}

.navbar a
{
    text-decoration: none;
    color:white;
     position: relative;
     font-weight: 450;
     font-size: 22px;
}

.navbar a:hover
{
    color:#F2B134;
}

.navbar a::after{
    content:"";
    position: absolute;
    left:0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background:#F2B134;
}

.navbar a:hover::after{
    width: 100%;
    
}


.navbar
{
    margin-top: 20px;
    display: flex;
    gap: 40px;
    width: auto;
    padding: 0;
}

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#173F6B;
    padding: 30px;
}

.logo p
{
    color:#F2B134;
}

.resources h5
{
    margin-bottom: 20px;
}

.quicklinks
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quicklinks a
{
    text-decoration: none;
    color: white;
    font-family: "Inter";
}

.quicklinks a:hover
{
    color:#F2B134;
}

.title
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.title img
{
    height: 90px;
    width: auto;
}

.socials svg
{
    width: 28px;
    height: 28px;
}

.socials
{
    position: absolute;
    top: 15px;
    right: 20px;
}

.hero
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
}

.hero-left
{
    background-color:#245589;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.hero-left h5, .hero-left p
{
    color:white;
}

.hero-left h5
{
    font-size: 30px;
    margin-bottom: 20px;
}

.hero-left p
{
    font-size: 25px;
    margin-bottom: 60px;
}

.hero-left ol
{
    font-size: 25px;
    color: white;
}

.hero-left ol li
{
    margin-bottom: 30px;
}

.hero-left a
{
    padding: 20px;
    background-color:#F2B134;
    color:#173F6B;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
}

.hero-left a:hover
{
    background-color:#e6a223;
}
.mission-statement
{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
    color:#173F6B;
    margin-top: 30px;

}

.mission-statement h3
{
    font-size: 40px;
    margin-bottom: 20px;
}

.mission-statement p
{
    font-size: 25px;
}

.pillars
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 60px;
    background-color:aliceblue;
}

.pillar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.pillar svg
{
    width: 140px;
    height: 140px;
}

.pillar h5
{
    color:#173F6B;
    font-weight: 600;
    font-size: 30px;
}

.pillar p
{
    color:#173F6B;
    font-weight: 500;
    font-size: 20px;
    max-width: 280px;
    line-height: 1.4;
    text-align: center;
}

.join-form
{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    background-color: aliceblue;
}

.information
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.information-left
{
    background-color:#396da5;
    padding: 30px;
    color:white;
    line-height: 1.8;
    font-size: 20px;
}

.information-right li
{
    margin-bottom: 10px;
}

.information-right
{
    background-color:#4874a2;
    padding: 30px;
    font-size: 20px;
    color:white;
}

.information-right p
{
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-join
{
    height: 200px;
    background-color: #284c72;
}

.information-right a
{
    display: inline-block;
    background-color:#F2B134;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color:#173F6B;
    margin-top: 30px;
    font-weight: 600;
}

.navbar a.active {
  color:#F2B134;
}

.navbar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color:#F2B134;
}

.hero-opps 
{
    display: flex;
    flex-direction: column;
    background-color:#245589;
    color: white;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.hero-opps h2
{
    font-size: 50px;
}

.faqs-hero, .join-hero, .contact-hero
{
    background-color:#245589;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.faqs-hero h2, .join-hero h2, .contact-hero h2
{
    font-size: 50px;
}

.faq-section
{
   width: 700px;


}

.faq-item {
  width: 100%;
  background-color:#6a8aac;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #245589;

}
.faq-item summary
{
    margin: 10px;
}

.faqs-wrapper
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.leaders
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card
{
    background:#F7F9FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px 0px;
}

.card svg
{
    width: 175px;
    height: 175px;
}

.leadership
{
    display: flex;
    flex-direction: column;
    color:#173F6B;
    margin-top: 20px;
}

.leadership h2
{
    text-align: center;
    font-size: 55px;
}

.request
{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 60px;
    color:#173F6B;
}

.request h2
{
    font-size: 50px;
}

.request-form
{
    margin: 40px;
}

.sign-up-opps
{
    color:#173F6B;
    padding: 60px;
    background-color:aliceblue;
    line-height: 1.8;
    font-size: 20px;
}

.sign-up-opps a
{
    padding: 20px;
    background-color:#F2B134;
    color:#173F6B;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.sign-up-opps a:hover
{
    background-color:#e6a223;
}

.sign-up-opps p
{
    margin-bottom: 45px;
    font-weight: 700;
}

.join-socials
{
    padding: 60px;
    color:#173F6B;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items:flex-start;
    background-color:white;
}
.join-socials h5
{
    font-size: 30px;
}

.join-socials a
{
    padding: 20px;
    background-color:#F2B134;
    text-decoration: none;
    color:#173F6B;
    border-radius: 10px;
    font-weight: 600;
}

.join-socials a:hover
{
    background-color:#e6a223;
}

.logo
{
    text-decoration: none;

    display: flex;
    flex-direction: column;

    gap: 10px;
    align-items: flex-start;
}

.logo img
{
    height: 110px;
    width: auto;
}

.logo a
{
    color:#F2B134;
    text-decoration: none;
    font-size: 20px;
}

.logo p
{
    color:#F2B134;
}

.socials-footer
{
    width: 40px;
    height: 40px;
}

.footer
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.resources h5
{
    font-size: 30px;
    color:white;
}

.contact-us h5
{
    font-size: 30px;
    color: white;
}

.contact-us p
{
    color: white;
    font-size: 18px;
}

.contact-us
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqs-wrapper
{
    padding-bottom: 60px;
}

.faq-item summary
{
    font-weight: 600;
}

.faq-item p
{
    line-height: 1.8;
}

.faq-item a
{
    text-decoration: none;
    color: white;
}

.faq-item a:hover
{
    color:#F2B134;
}

.what
{
    background-color:#245589;
    padding: 40px 60px;
}

.what h4
{
    font-size: 40px;
    color:#F2B134;
    margin-bottom: 10px;
}

.what p
{
    margin-bottom: 30px;
    color: white;
    line-height: 1.7;
}

.what h5
{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.what ul li
{
    color: white;
    margin-bottom: 10px;
}

.what ul
{
    margin-bottom: 50px;
}

.what a
{
    padding: 20px;
    background-color:#F2B134;
    color:white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}

.what a:hover
{
    background-color: #e6a223;
}